<div class="content">
  <div class="main-image">
    <%= image_tag url_for(item.photos.first) %>
  </div>
  <div class="description">
    <p><%= link_to item.name, item %></p>
    <p><%= number_to_currency(item.price) %></p>
    <p><%= item.description %></p>
  </div>
</div>
