%div.content#contact
  %div#contact_content
    %p
      I would love to help bring a beloved furniture piece back to life, renovate a perfect piece for your space, or design custom furniture to match your unique style!  
    %p
      Email: #{mail_to 'shandysdesign@gmail.com'}
    %p
      Call: 720-255-1499
