%div.content#contact
  %div#contact_content
    %p
      Shandy designs and builds furniture in beautiful Breckenridge, Colorado. Delivery and installation is free anywhere in Colorado. For other locations please ask for delivery options. 
    %p
      Contact Shandy at #{mail_to 'shandysdesign@gmail.com'}
