%div.content#contact
  %div#contact_content
    %p
      Contact Shandy to arrange a showing or to place a custom order.  Please feel free to ask questions!
    %p
      Email: #{mail_to 'shandysdesign@gmail.com'}
    %p
      Call: 720-255-1499

