body.home-index {
  div.content {
    width: 60%;
    height: 300px;

    margin-left: auto;
    margin-right: auto;

    div#image {
      width: 591px;

      margin-left: auto;
      margin-right: auto;
    }
  }
}
