@import "common";
div.item {
  width:60%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  p.image {
    float:left;
    margin-right:10px;
  }
}
span.asset_id, span.item_id {
  display:none;
}
span.delete_asset {
  color:$red;
}
