@import "common";

div#welcome_content {
  width:60%;
  height:300px;
  margin-left:auto;
  margin-right:auto;
  div#welcome_img {
    width:591px;
    margin-left:auto;
    margin-right:auto;
  }
}

